.pendiente {
    color: #f1c40f !important;
    background-color: rgb(241, 196, 15, 0.1) !important;
}

.rechazada {
    color: #e74c3c !important;
    background-color: rgb(231, 76, 60, 0.1) !important;
}

.aceptada {
    color: #2ecc71 !important;
    background-color: rgb(46, 204, 113, 0.1) !important;
}

.cancelada {
    color: #e74c3c !important;
    background-color: rgb(231, 76, 60, 0.1) !important;
}

.finalizada {
    color: #3498db !important;
    background-color: rgb(52, 152, 219, 0.1) !important;
}

