.pago-ficha-admision {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  mat-card {
    width: 600px;
  }
  
  .payment-button {
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .bank-details {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .logo-universidad {
    max-width: 50%;
    height: auto;
  }
  