<app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <mat-card-title>Escritorios</mat-card-title>
        <mat-card-subtitle class="mat-body-1">Listado de Pendientes</mat-card-subtitle>
    </mat-card-content>

    <mat-card-content class="pt-0">
        <app-table-actions textBotonAdd="Agregar" (onAddValue)="addCiclo()" (onValue)="getCiclos()" [visibleBtnAdd]="true"></app-table-actions>

        <mat-accordion class="w-100 m-t-12 p-24">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="d-flex w-100">
                            <div class="flex-1-auto">Filtros de busqueda</div>
                        </div>
                    </mat-panel-title>
                    

                </mat-expansion-panel-header>
                 <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 p-4">

                        <form [formGroup]="formSearch">
                            <!-- <mat-form-field class="col-12 col-md-3 col-lg-3 m-r-3">
                                <mat-label>Año</mat-label>
                                <mat-select formControlName="year">
                                    <mat-option *ngFor="let anio of anios" [value]="anio">{{anio}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                
                            <mat-form-field class="col-12 col-md-3 col-lg-3 m-r-3">
                                <mat-label>Mes</mat-label>
                                <mat-select formControlName="month">
                                    <mat-option *ngFor="let mes of meses" [value]="mes.value">{{mes.month}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            
                
                            <button mat-raised-button color="primary" [disabled]="formSearch.invalid" class="col-12 col-md-1 col-lg-1 m-r-3" (click)="getInscripciones()">
                                Buscar
                            </button> -->
                     
                        <mat-form-field class="col-12 col-md-5 col-lg-5 m-r-3 m-t-12">
                            <mat-label>Buscar</mat-label>
                            <input matInput placeholder="Buscar en tabla" (keyup)="doFilter($event)">
                            <mat-icon matSuffix><i-tabler name="search"></i-tabler></mat-icon>
                        </mat-form-field>
                    </form>
                </div> 
                


            </mat-expansion-panel>
        </mat-accordion>



        <div class="responsive-table">
                <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


                <ng-container matColumnDef="estatus">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="bg-light-success text-success rounded f-w-600 p-y-6 p-x-16 f-s-14"
                        *ngIf="element.chrStatus === 'activo'">
                        {{element.chrStatus}}
                        </span>
                        <span class="bg-light-info text-danger rounded f-w-600 p-y-6 p-x-16 f-s-14"
                        *ngIf="element.chrStatus !== 'activo'">
                        {{element.chrStatus}}
                        </span>
                        </mat-cell>
                </ng-container>
                <ng-container matColumnDef="clave">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Clave</mat-header-cell>
                    <mat-cell *matCellDef="let element"  class="f-s-12" (dblclick)="consultarCiclo(element.cveCiclo)">{{element.cveCiclo}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let element"  class="f-s-12" (dblclick)="consultarCiclo(element.cveCiclo)">{{element.chrNombre}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="fechaini">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Inicio</mat-header-cell>
                    <mat-cell *matCellDef="let element"  class="f-s-12" (dblclick)="consultarCiclo(element.cveCiclo)">{{element.fechaini}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="fechafin">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Fin</mat-header-cell>
                    <mat-cell *matCellDef="let element"  class="f-s-12" (dblclick)="consultarCiclo(element.cveCiclo)">{{element.fechafin}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </mat-card-content>

</mat-card>

