.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin: auto;
    max-width: 600px;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .grupo-recetas {
    margin-bottom: 20px;
  }
  
  .list-group-item {
    margin-bottom: 10px;
  }
  
  h5 {
    margin-bottom: 5px;
  }
  
  .btn {
    margin-top: 10px;
  }
  